*{
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior:smooth;
}


.container{
  padding: 0px 100px;
}

img{
  max-width: 100%;

}

ul {
  padding: 0px;
  list-style: none;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
