* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0px 100px;
}

img {
  max-width: 100%;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.js-scroll-vertical {
  opacity: 0;
  transform: translate3d(0, -70px, 0);
  transition: 1.2s;
}

.js-scroll-vertical.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-70px, 0, 0);
  transition: 1.2s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* Customiza a barra de rolagem completa */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
}

/* Customiza o trilho da barra de rolagem (o fundo) */
::-webkit-scrollbar-track {
  background: #f0eeee;
  border-radius: 10px;
}

/* Customiza a parte deslizante da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #41a5e8;
  border-radius: 10px;
}

/* Customiza a parte deslizante quando está sendo clicada */
::-webkit-scrollbar-thumb:active {
  background: #555;
}

/* Customiza a parte deslizante quando o mouse está sobre ela */
::-webkit-scrollbar-thumb:hover {
  background: #288bcd;
}