/*background: linear-gradient(to right, #0F4C75 28.1%, #fafafa 28.1%);*/

.menu {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10vh;
  background: linear-gradient(to right, #0f4c75 27.32%, #fafafa 27.32%);
  z-index: 10000;
  transition: 0.4s;
}

.menu-scroll {

  background: #0878c3;
  animation: scroll-animation 0.7s forwards;
}

@keyframes scroll-animation {
  from {
    height: 10vh;
  }
  to {
    height: 12vh;
  }
}

[data-itens] ul {
  display: flex;
}

[data-itens] ul li {
  padding: 0px 10px;
}

.menu img,
.menu-scroll img {
  background-size: cover;
  height: 50px;
}

.item-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #2e2e2e;
  position: relative;
}

.item-menu::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 5px;
  width: 0%;
  background-color: #0f4c75;
  transition: 0.4s;
}

.item-menu:hover::before {
  width: 100%;
  transition: 0.4s;
}


.menu-scroll a{
  color: #fafafa;
  transition: 0.4s;
}

.menu-scroll .item-menu::before{
  background-color:#075183;
}