#projeto {
  background-color: #3282b8;
}

.title-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-projeto h1{
  margin-top: 30px;
  font-size: 40px;
  color: #f5f5f5;
}

.title-projeto p{
  font-size: 20px;
  margin: 15px 0px;
  color: #f5f5f5;
}

.projeto {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 40px;
  padding-bottom: 70px;
}

.projeto h1{
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.projeto p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 20px;
}

.projeto a{
  padding: 10px;
  border-radius: 10px;
  background-color:  #0f4c75;
  color: #fafafa;
  margin-bottom: 20px;
  transition: 0.4s;
}

.projeto a:hover{
  background-color:  #2987c5;
  transition: 0.4s;
}

.calendario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 60px 0px 60px 0px;
}

.calendario img{
  border-radius: 60px 0px 60px 0px;
}

.calendario h1{
  padding-top: 19px;
}

.harryPotter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0px 60px 0px 60px;
}

.harryPotter img {
  border-radius: 0px 60px 0px 60px;
  width: 100%;
}

.harryPotter h1{
  padding-top: 19px;
}

.psicoverso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 60px 0px 60px 0px;
}

.psicoverso img{
  position: relative;
  top: -20px;
  border-radius: 60px 0px 60px 0px;
}
