#skills{
  margin: 60px 0px;
}

table, th, td {
  border: 1px solid;
  text-align: center;
  width: 50%;
}

table {
  width: 100%;
}



.title-skills{
  display: flex;
  justify-content: center;
}

.title-skills h1{
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

.skils{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.front,.back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}