@import "./menu.css";
@import "./introduction.css";
@import "./experiencia.css";
@import "./projeto.css";
@import "./skilss.css";
@import "./footer.css";
@import "./formulario.css";
@import "./global.css";